<div class="container">
    <%- include('filter_category') %>
        <% if(products.length===0){%>
            <div class="alert alert-danger">
                there no product exist
            </div>
            <% } else{ %>

                <div class="row">
                    <% for (let product of products) { %>
                        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="card" style="width: 18rem;">
                                <img src="/<%=product.image %>" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/product/<%= product._id %>">
                                            <%= product.name %>
                                        </a>
                                        <p>Price: <%=product.price %> $</p>
                                    </h5>
                                    <form action="/cart" method="post">
                                        <input type="number" name="amount" class="form-control">
                                        <br>
                                        <input type="submit" value="Add to cart" class="btn btn-primary">
                                    </form>
                                    <br>
                                    <p class="card-text">
                                        <%= product.category %>
                                    </p>
                                    <p class="card-text">
                                        <%= product.description %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% } %>

                </div>
                <% } %>
</div>